.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.149);
    width: 17rem;
    height: 27rem;
    text-align: center;
    font-size:x-small;
    padding: .2rem;
    background-color: white;
    
}
p{
    color: green;
    margin-bottom: 0;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding-bottom: .5rem;
    color: rgb(55, 121, 157);
    font-size: .7rem;
    font-weight: bold;
}
button{
    border-radius: 1rem;
    padding: .2rem .6rem .2rem .6rem;
    background-color: rgb(51, 123, 168);
    color: whitesmoke;
    border: 1px solid rgb(91, 90, 90);
    margin-top: .5rem;
    
}
button:hover{
    border-style:initial;
    border: 2px solid rgb(91, 90, 90);
    background-color: rgb(105, 179, 224);
}
button:active{
    border-style:initial;
    background-color: rgb(14, 60, 91);;
    border: 2px solid rgb(8, 8, 8);
}
.item{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    height: 16rem;
    gap: 1rem;
}

img{
    max-width: 100%;
    max-height: 8rem;
    align-self:center;
}
img:hover{
    max-height: 100%;
}
.price{
    color: red;
    font-weight: bold;
    font-size: large;
}
span{
    text-decoration: line-through;
    font-weight:600;
    color: rgba(0, 0, 0, 0.473);
    font-size: large;
}
.description{
    margin-top: 1rem;
    display: block;
    overflow: hidden;
}
.description:hover{
    height: 14rem;
    position: relative;
    overflow:unset;
    font-size: .8rem;
    background-color: white;
    line-height: .8rem;
    cursor:default;
    padding-bottom: 1.4rem;
}